body{
    background-color: #84cee1;
    color:white;
}

.loginDiv{
    background-color:pink;
    border: 3px ridge red;
    width:40%;
    height:40%;
    padding:1%;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}