body{
    background-color: #84cee1;
    color:white;
}

.loginDiv{
    position:absolute;
    background-color:rgb(208, 127, 127);
    width:40%;
    height:20%;
    margin:2%;
    padding:1%;
    display:flex;
    justify-content: center;
}